@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: var(--accentGray01);
}

:root {
  --accentPurple: #322a7d;
  --accentPurple2: #6c4094;
  --accentGray01: #f7f8fa;
  --accentGray02: #bbc5d5;
  --accentOrange: #ffa101;
  --accentRed: #ff0000;
  --accentBlue: #2a7cbc;
  --accentGreen: #43b97d;
  --accentPink: #ed2790;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.flex-div {
  display: flex;
  align-items: center;
}

/* START: Sidebar Nav */
.sidebar-nav {
  background: #fff;
  border-right: 1px solid var(--accentGray02);
  height: 100vh;
  width: 5%;
  padding-top: 40px;
  position: fixed;
  top: 0;
}

.sidebar-nav a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.sidebar-nav a img {
  height: 18px;
  width: 18px;
}

.sidebar-nav a.active {
  border-right: 4px solid var(--accentOrange);
}
/* END: Sidebar Nav */

.content {
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 8%;
  padding-right: 27%;
  height: 100vh;
  background-color: var(--accentGray01);
}

.content header {
  margin-bottom: 39px;
}

.content header img {
  height: 76px;
  margin-right: 36px;
}
.content header h1 {
  color: var(--accentPurple);
  font-size: 28px;
  font-weight: bold;
}

.content nav {
  display: flex;
  border-bottom: 1px solid var(--accentGray02);
  margin-bottom: 47px;
}

.content nav a {
  padding-bottom: 16px;
  color: var(--accentGray02);
  font-weight: bold;
  position: relative;
}

.content nav a:first-child {
  margin-right: 26px;
  color: black;
}

.content nav a:first-child:before {
  content: "";
  position: absolute;
  width: calc(100% / 2);
  z-index: 2;
  bottom: -2px;
  height: 4px;
  background-color: var(--accentOrange);
  border-radius: 2px;
  margin: 0 calc(100% / 4);
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(393px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 27px;
  margin-top: 15px;
  padding: 0px 40px;
}

.list-lomba {
  width: 100%;
  border-radius: 20px;
  background-color: var(--accentGray02);
  padding: 50px 40px;
}

.list-lomba a {
  color: white;
  font-weight: 800;
  font-size: 23px;
  width: 100%;
  height: 100%;
}

.daftar-1 {
  background-color: var(--accentPurple2);
  background-image: url("../assets/ilus-4.png");
  background-position: right;
  background-repeat: no-repeat;
}

.daftar-2 {
  background-color: var(--accentBlue);
  background-image: url("../assets/ilus-2.png");
  background-position: right;
  background-repeat: no-repeat;
}

.daftar-3 {
  background-color: var(--accentGreen);
  background-image: url("../assets/ilus-1.png");
  background-position: right;
  background-repeat: no-repeat;
}

.daftar-4 {
  background-color: var(--accentPink);
  background-image: url("../assets/ilus-3.png");
  background-position: right;
  background-repeat: no-repeat;
}

.list-lomba.active {
  position: relative;
  border: 5px solid var(--accentGray01);
  border-radius: 20px;
}

.list-lomba.borders:before {
  content: " ";
  position: absolute;
  z-index: 2;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 5px solid var(--accentPurple2);
  border-radius: 20px;
}

.content h2 {
  text-align: center;
  color: var(--accentRed);
  font-size: 18px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 16px;
}

.pemberitahuan {
  padding: 0px 40px;
  margin-bottom: 50px;
}

.pemberitahuan .isi-pemberitahuan {
  padding: 25px 50px;
  background: #fff;
  border: 2px solid var(--accentGray02);
  border-radius: 20px;
}

.pemberitahuan .isi-pemberitahuan p {
  color: var(--accentPurple);
  font-weight: bold;
}

/* End */

/* Section Right */
section.right {
  background: #fff;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid var(--accentGray02);
  padding: 30px 20px;
  height: 100vh;
}

.right .justify-between {
  justify-content: space-between;
  margin-bottom: 13px;
}

.right .justify-between p {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", sans-serif;
  color: var(--accentGray02);
}

.right .justify-between .keluar {
  margin-right: 11px;
  align-items: center;
  display: flex;
  padding: 10px;
  background-color: var(--accentGray01);
  border-radius: 50%;
}

.right .justify-between h3 {
  font-size: 13px;
  font-weight: 800;
  color: var(--accentPurple);
}

.right .user {
  background-color: var(--accentGray01);
  border-radius: 20px;
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.right .user h1 {
  font-weight: 400;
  font-size: 22px;
  color: black;
  margin-bottom: 2px;
}

.right .user h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 2px;
}

.right .user p {
  font-weight: 300;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: var(--accentGray02);
}

.right .data {
  justify-content: space-between;
  margin-bottom: 13px;
}

.right .data button {
  background-color: var(--accentGray02);
  border-radius: 20px;
  border: 0;
  padding: 13px;
  font-size: 15px;
  font-weight: 800;
}
.right .data button.button-1 {
  color: var(--accentPurple);
  background-color: var(--accentOrange);
  width: calc(100% - 110px);
}

.right .data button.button-2 {
  color: #fff;
  background-color: var(--accentPurple);
}

.right .lengkapi-data {
  font-size: 14px;
  color: var(--accentRed);
  font-weight: 400;
  margin-bottom: 13px;
}

.right .danger-data {
  background-color: var(--accentRed);
  padding: 5px;
  border-radius: 20px;
}

.right .danger-data p {
  color: white;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  border: 3px dashed white;
  padding: 18px 15px;
  border-radius: 20px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.15);
}

.right .kontak {
  margin-top: 40px;
  position: absolute;
  bottom: 37px;
  padding-left: 37px;
}

.right .kontak h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.right .kontak .flex-div {
  margin-bottom: 16px;
}

.right .kontak img {
  height: 48px;
  margin-right: 20px;
}

.right .kontak h2 {
  font-size: 14px;
  font-weight: 700;
}

.right .kontak p {
  font-size: 14px;
  font-weight: 400;
  color: #7f8fa4;
  font-family: "Lato", sans-serif;
}

@media (max-width: 1024px) {
  .right {
    display: none;
  }

  .content {
    padding-right: 2%;
  }
}
